{% extends 'base.html' %} {% block content %} {% if all_blogs %}
<div class="container">
  <div class="row headline">
    <div class="col-sm-12 heading"><h3>Latest Posts</h3></div>
  </div>
  <div class="row posts-wrapper">
    {% for blog in all_blogs %}
    <div class="col-md-4 col-sm-6 mb-4">
      <article>
        <a href="/post/{{blog.id}}"
          ><img
            src="static/{{blog.photo_path}}"
            alt="image-alternative"
            class="img-fluid mb-3 flex-fill"
        /></a>

        <div class="post-summary">
          <h2 class="post-title">
            <a href="/post/{{blog.id}}">{{ blog.post_title }}</a>
          </h2>
          <div class="post-meta">
            <span class="post-categories"
              ><a href="/posts/{{blog.category}}">{{ blog.category }}</a></span
            >
          </div>
        </div>
      </article>
    </div>
    {% endfor %}
    <div class="clearfix"></div>
  </div>
</div>
{% endif %} 
{% endblock %}
