<nav class="navbar navbar-expand-md navbar-light bg-transparent">
    <div class="container">
      <a href="/" class="navbar-brand">Kasyoki Blog</a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#menu"
      >
        <i class="navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        {% if current_user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              href="{{url_for('main.profile',user_id=current_user.id)}}"
              class="nav-link"
              >{{ current_user.firstname }} {{ current_user.lastname }}</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.logout')}}">Sign out</a>
          </li>
          {% else %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/subscribe" class="nav-link">Subscribe</a>
            </li>
          </ul>
          {%endif%}
        </ul>
      </div>
    </div>
  </nav>
  